services:
  frontend:
    build: .
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      - NODE_ENV=production
      # - DATABASE_URL=postgresql://postgres:password@db:5432/spectech
    # depends_on:
    # - db
    restart: unless-stopped
