@import 'tailwindcss';

:root {
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	--primary-color: blue;
	body {
		background-color: rgb(246 247 248 / var(--tw-bg-opacity, 1));
	}
}
